<!-- ヘッダー -->
<header class="w-full bg-sky-400 text-white">
  <div class="max-w-md mx-auto flex items-center justify-between px-4 py-3">
    <%= link_to '/', class: "text-xl font-bold tracking-wide flex items-center gap-1" do %>
      ゆきスポ<span aria-hidden="true">❄️</span>
    <% end %>

    <div class="flex item-center gap-4">
      <% if user_signed_in? %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <% else %>
          <%= link_to "ログイン", new_user_session_path %>
      <% end %>

      <!-- ハンバーガー -->
      <button aria-label="メニュー" class="inline-flex flex-col gap-1">
        <span class="block w-6 h-[2px] bg-white"></span>
        <span class="block w-6 h-[2px] bg-white"></span>
        <span class="block w-6 h-[2px] bg-white"></span>
      </button>
    </div>
  </div>
</header>