<!-- メイン -->
<main class="container-responsive pt-6 pb-24">
  <!-- タイトル -->
  <section class="text-center">
    <p class="text-slate-800 text-xl md:text-2xl font-semibold mt-4 text-left">出発地を選ぶ</p>
  </section>

  <!-- ボタン群 -->
  <section class="mt-8 md:mt-12 flex flex-col space-y-4">
      <!-- 指定の住所から出発する -->
    <%= link_to new_origin_address_input_path, class: "btn btn-neutral w-full md:w-auto" do %>
      住所入力
    <% end %>

    <% if user_signed_in? %>
      <!-- 自宅から住所から出発する -->
      <%= link_to new_search_filter_path, class: "btn btn-neutral w-full md:w-auto" do %>
        お気に入り住所を使う
      <% end %>
      <!-- 現在地から出発する -->
      <%= link_to "#", class: "btn btn-neutral w-full md:w-auto" do %>
        現在地（開発中）
      <% end %>
    <% end %>
  </section>
</main>
