<!-- メイン -->
<main class="max-w-md mx-auto px-4 pt-6 pb-24">
  <!-- タイトル -->
  <section class="text-center">
    <p class="text-slate-800 text-xl font-semibold mt-4 text-left">出発地を選ぶ</p>
  </section>

  <!-- ボタン群 -->
  <section class="mt-8 space-y-4">
    <!-- 現在地から出発する -->
    <%= link_to "#", class: "block w-full" do %>
      <div class="w-full text-center rounded-xl px-6 py-3 bg-slate-200 text-slate-800 font-semibold
                  shadow-sm hover:bg-slate-300 transition active:scale-[0.99]"
        style="border: 1px solid rgba(0,0,0,0.08);">
        現在地から出発する（開発中）
      </div>
    <% end %>
    <!-- 指定の住所から出発する -->
    <%= link_to "#", class: "block w-full" do %>
      <div class="w-full text-center rounded-xl px-6 py-3 bg-slate-200 text-slate-800 font-semibold
                  shadow-sm hover:bg-slate-300 transition active:scale-[0.99]"
        style="border: 1px solid rgba(0,0,0,0.08);">
        指定の住所から出発する
      </div>
    <% end %>
    <!-- 自宅から住所から出発する -->
    <%= link_to "#", class: "block w-full" do %>
      <div class="w-full text-center rounded-xl px-6 py-3 bg-slate-200 text-slate-800 font-semibold
                  shadow-sm hover:bg-slate-300 transition active:scale-[0.99]"
        style="border: 1px solid rgba(0,0,0,0.08);">
        自宅の住所から出発する（開発中）
      </div>
    <% end %>
  </section>
</main>
